name: Release zcash ffi
on:
  push:
    branches:
      - master
jobs:
  build:
    name: build for all platforms
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
    env:
      CARGO_TERM_COLOR: always
      BINARY_NAME: librust_ffi_go.dylib
    steps:
    - uses: actions/checkout@v4
    - name: Install Rust toolchain + target
      uses: dtolnay/rust-toolchain@stable
      with:
          targets: ${{ matrix.target }}
    - name: Build (release)
      run: cargo build --release
    - name: Set build version
      id: version
      shell: bash
      run: |
        VERSION="$(cat Cargo.toml | grep 'version =' -m 1 | sed 's@version =@@' | xargs)"
        echo "RELEASE_VERSION=$VERSION" >> $GITHUB_ENV
        echo "::notice::publish build version $VERSION"
    - name: Upload Linux x86 binary to release
      uses: Spikatrix/upload-release-action@b713c4b73f0a8ddda515820c124efc6538685492
      with:
        repo_token: ${{ secrets.PAT_TOKEN }}
        file: target/release/${{ env.BINARY_NAME }}
        asset_name: ${{ env.BINARY_NAME }}
        target_commit: ${{ github.sha }}
        tag: v${{ env.RELEASE_VERSION }}
        release_name: v${{ env.RELEASE_VERSION }}
        prerelease: true
        overwrite: true
        body: ${{ env.BINARY_NAME }} release